<span class="waves-light barChar d-md-none d-lg-none d-sm-block" (click)="test.toggle()">&#8801;</span>
<section class="side-nav p-0 rounded " style="background-color: #2792bf;" mdbCollapse #test="bs-collapse">

    <div class="side-info rounded" style="background-image: linear-gradient(to top left, #1b94bc, #0caac3);">
        <div class="row">

            <div class="media d-flex align-items-center">
                <img class="d-flex" src="https://mdbootstrap.com/img/Photos/Others/placeholder1.jpg" width="50px" class=" img-fluid rounded-circle z-depth-0 " alt="Generic placeholder image">
                <div class="media-body text-white  ml-3 pt-1">
                    <h5 class="mt-0 font-weight-bolder" style="font-size: 19px;">Johnson Smith</h5>
                    <small>Product designer</small>
                </div>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-around text-white">
            <span>125 POSTS</span>
            <span>216 TASKS</span>
        </div>
        <hr>
    </div>
    <div class="side-nav-links  text-white">
        <ul class="pl-3 list-unstyled">

            <a routerLink="" class="text-white">
                <li class="py-1 zoom activeSide">
                    <img src="../assets/img/icon/house.png" alt="Notice Board" class="pr-3" srcset=""> Notice Board
                </li>
            </a>
            <a routerLink="#" class="text-white">
                <li class="py-1 zoom"> <img src="../assets/img/icon/payment.png" alt="" class="pr-3" srcset=""> Payments</li>
            </a>
            <a href="#" class="text-white">
                <li class="py-1 zoom"> <img src="../assets/img/icon/drive.png" alt="" class="pr-3" srcset=""> Drive </li>
            </a>
            <a href="#" class="text-white">
                <li class="py-1 zoom"> <img src="../assets/img/icon/customer.png" alt="" class="pr-3" srcset=""> Customer andSuppliers
                </li>
            </a>
            <a href="#" class="text-white">
                <li class="py-1 zoom"> <img src="../assets/img/icon/product.png" alt="" class="pr-3" srcset=""> Products</li>
            </a>
        </ul>
        <ul class="pl-3 list-unstyled">

            <a routerLink="/WareHouse" class="text-white">
                <li class="py-1 zoom"> <img src="../assets/img/icon/warehouse.png" alt="" class="pr-3" srcset=""> WareHouse</li>
            </a>
            <a routerLink="/products" class="text-white">
                <li class="py-1 zoom"> <img src="../assets/img/icon/warehouse.png" alt="" class="pr-3" srcset=""> Products</li>
            </a>
            <a routerLink="/checkout" class="text-white">
                <li class="py-1 zoom"> <img src="../assets/img/icon/warehouse.png" alt="" class="pr-3" srcset=""> checkout</li>
            </a>

            <a routerLink="/plans" class="text-white">
                <li class="py-1 zoom"> <img src="../assets/img/icon/warehouse.png" alt="" class="pr-3" srcset=""> plans</li>
            </a>
            <a routerLink="/upgrade-features" class="text-white">
                <li class="py-1 zoom"> <img src="../assets/img/icon/warehouse.png" alt="" class="pr-3" srcset=""> Upgrade Features
                </li>
            </a>
            <a routerLink="/order-history" class="text-white">
                <li class="py-1 zoom"> <img src="../assets/img/icon/warehouse.png" alt="" class="pr-3" srcset=""> Order History
                </li>
            </a>
            <a routerLink="/show-posts" class="text-white">
                <li class="py-1 zoom"> <img src="../assets/img/icon/invoice.png" alt="" class="pr-3" srcset=""> Post Creation Example
                </li>
            </a>

            <a href="#" class="text-white">
                <li class="py-1 zoom"> <img src="../assets/img/icon/invoice.png" alt="" class="pr-3" srcset=""> Invoice and Document
                </li>
            </a>
            <a href="#" class="text-white">
                <li class="py-1 zoom"> <img src="../assets/img/icon/tax.png" alt="" class="pr-3" srcset=""> Tax Rates</li>
            </a>
            <a routerLink="/mail-compagin" class="text-white">
                <li class="py-1 zoom"> <img src="../assets/img/icon/tax.png" alt="" class="pr-3" srcset=""> Mail Compagin</li>
            </a>
            <a href="#" class="text-white">
                <li class="py-1 zoom"> <img src="../assets/img/icon/accounts.png" alt="" class="pr-3" srcset=""> Accounts and Resources
                </li>
            </a>
        </ul>
        <ul class="pl-3 list-unstyled">
            <a href="#" class="text-white">
                <li class="py-1 zoom"> <img src="../assets/img/icon/typeof.png" alt="" class="pr-3" srcset=""> Type of Payments
                </li>
            </a>
            <a href="#" class="text-white">
                <li class="py-1 zoom"> <img src="../assets/img/icon/schedule.png" alt="" class="pr-3" srcset=""> Schedule</li>
            </a>
            <a href="#" class="text-white">
                <li class="py-1 zoom"> <img src="../assets/img/icon/dossiers.png" alt="" class="pr-3" srcset=""> Dossiers and Practices
                </li>
            </a>
            <a href="mailingList" class="text-white">
                <li class="py-1 zoom"> <img src="../assets/img/icon/webmail.png" alt="" class="pr-3" srcset=""> Webmail</li>
            </a>
        </ul>

    </div>
</section>