<!-- ----------------------------- Calculator ----------------------------- -->
<!-- ----------------------------- Calculator ----------------------------- -->
<div class="calculator">
    <div>
        <h4 class="float-right text-white position-absolute" style="right: 35px; ">Totall</h4>
        <input class="result" type="text" readonly value="{{result}}">
    </div>
    <div>

        <div class="responsive arthBtn">
            <button class="arth" *ngFor="let arthBtn of arithmetic" (click)="addToExp(arthBtn)">{{arthBtn}}</button>
        </div>


        <div class="row m-0">

            <div class="col-7 p-0">
                <button class="responsive smBtn" *ngFor="let Btn of buttons" (click)="addToExp(Btn)">
          {{Btn}}
        </button>
            </div>

            <div class="col-5 p-0">
                <button class="responsive long" *ngFor="let lnBtn of longButtons" (click)="addToExp(lnBtn)">
          {{lnBtn}}
        </button>
            </div>
        </div>
    </div>
</div>
<!-- ----------------------------- Calculator ----------------------------- -->