<nav></nav>
<main class="main-content mt-5 p-0">

    <div class="mailing-list  ">
        <div class="left-nav " scrollbar scrollbar-primary mdbTableScroll scrollY="true" maxHeight="450">
            <ul class="list-unstyled mt-5 overflow-auto ">
                <li *ngFor='let nav of liftNav' class="p-2">
                    <mdb-icon fas icon="{{nav.icon}}"></mdb-icon>
                    <p>{{nav.name}}</p>
                </li>
            </ul>
        </div>

        <div class="row mft">
            <div class="col-md-8 col-sm-12 rounded  pt-4">
                <div class="row">

                    <!-- ------------------ Loop in component.ts to get box ------------------- -->

                    <button class="col-md-3 item-head col-sm-12 item white p-3" *ngFor="let item of items;">
            <p class="mp-5">{{ item.head }} </p>
            <br>
            <span class="price  text-white " style="border-bottom-color: {{ item.style }} ">
              <p class="mt-4 ml-2"> {{ item.price }}</p>
            </span>
          </button>
                    <!-- ------------------ end  Loop in component.ts to get box ------------------- -->

                </div>
            </div>
            <div class="col-md-4 col-sm-12 h-50 ">
                <div class="count-item-right white ">
                    <table mdbTable mdbTableScroll scrollY="true" maxHeight="450">
                        <thead>
                            <tr>
                                <th *ngFor="let head of headElements" scope="col"> {{head}} </th>
                            </tr>
                        </thead>
                        <tbody class=" overflow-auto">

                            <tr mdbTableCol *ngFor="let el of elements">

                                <!-- ---------------------- (click)="{{ el.QTY ++ }}" ---------------------- -->

                                <th scope=" row ">x {{ el.QTY }}</th>

                                <td>{{el.Items}}</td>
                                <td>{{el.Price * el.QTY}}€</td>

                            </tr>
                        </tbody>

                    </table>
                </div>
                <app-calculator style="height: 50vh;"></app-calculator>
            </div>
        </div>

    </div>
</main>