<nav></nav>
<!--
    _________________________________________
    _________________________________________
    ______________________ -->
<div class="container">
    <div class="row mt-5">

        <div class="rounded col-md-3 mt-4">
            <side-nav></side-nav>
        </div>
        <div class="col-md-9 mt-4 p-0 white ">
            <div class="d-flex  justify-content-between align-items-center p-3">
                <div class="">
                    <a routerLink="/select-template" class="d-block pb-2 go-back">
                        <mdb-icon fas icon="angle-left"></mdb-icon> Go Back
                    </a>
                    <h5 class="d-inline-block"><b>Sell Products (Template name shon here)</b></h5>

                </div>
                <div class="d-flex align-items-center">
                    <small>
            <a href="#" class="d-block mr-4 text-info"> save as draft</a>

          </small> <a routerLink="#" class="rounded  btn btn-outline-info ">Save & Close</a>
                </div>
            </div>
            <div class="show-temp d-flex justify-content-center">
                <img src="../../../assets/img/email-campagin/99.jpg" class="mt-4" alt="" srcset="">
            </div>
        </div>

    </div>
</div>