<nav></nav>
<!--
    _________________________________________
    _________________________________________
    ______________________ -->
<div class="container mt-sm-5">
    <div class="row pr-md-3 pr-sm-0 pl-md-3 pl-sm-0 mt-5">
        <div class="rounded col-md-3 mt-md-4 mt-sm-0">
            <side-nav></side-nav>
        </div>

        <section class="mt-4 col-md-9 col-sm-12 pr-md-3 pr-sm-0 pl-sm-0 p-sm-0 m-sm-0 rounded">
            <a href="#" class="go-back">
                <mdb-icon fas icon="chevron-left"></mdb-icon> All Customer
            </a>
            <h4>Product Details</h4>
            <hr />
            <div class="box-product-details white mt-3 p-4">
                <h6>Product Details</h6>
                <hr />
                <!--  form row -->
                <form>
                    <!-- Grd row -->
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12 mb-3">
                            <label for="Text1" class="position-absolute">Product Name/Description</label>
                            <textarea name="Text1" class="w-100 h-100 p-2" placeholder="Apple 11Pro Max"></textarea>
                        </div>
                        <!-- Grid column -->
                        <div class="col-md-6 col-sm-12 mb-3">
                            <!--  input -->
                            <a mdbBtn floating="true" size="sm" class="text-white blue rounded-pill float-right mb-1 mt-1">
                                <mdb-icon fas icon="plus"></mdb-icon>
                            </a>
                            <div class="position-relative">
                                <label class="position-absolute">Category</label>
                                <select class="browser-default custom-select">
                  <option value="apple">apple</option>
                  <option value="samsung">samsung</option>
                  <option value="htc">HTC</option>
                </select>
                            </div>

                            <!--  input -->
                            <a mdbBtn floating="true" size="sm" class="text-white blue rounded-pill float-right mb-1 mt-1">
                                <mdb-icon fas icon="plus"></mdb-icon>
                            </a>
                            <div class="position-relative">
                                <label class="position-absolute">sub-Category</label>
                                <select class="browser-default custom-select">
                  <option value="apple">apple</option>
                  <option value="samsung">samsung</option>
                  <option value="htc">HTC</option>
                </select>
                            </div>
                        </div>

                        <!-- Grid column -->
                        <div class="col-md-6 col-sm-12 mb-3">
                            <!-- Default input -->

                            <label class="position-absolute">Product with warehouse</label>

                            <select class="browser-default custom-select">
                <option value="apple">apple</option>
                <option value="samsung">samsung</option>
                <option value="htc">HTC</option>
              </select>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 col-sm-6 mb-3">
                            <!-- Default input -->
                            <label class="position-absolute">Unit Measure</label>
                            <input mdbInput type="text" class="form-control " placeholder="Piece" />

                        </div>
                        <div class="col-md-3 col-sm-6 mb-3">
                            <label class="position-absolute">BarCode</label>
                            <input mdbInput type="text" class="form-control" placeholder="HIUY567578AWE6" />
                        </div>

                        <div class="col-md-3 col-sm-6 mb-3 ">
                            <!-- Default input -->

                            <label class="position-absolute">VAT</label>
                            <select class="browser-default custom-select">
                <option value="apple">Excluded ex art. 15 (N1)</option>
                <option value="samsung">Excluded ex art. 30 (N1)</option>
                <option value="htc">Excluded ex art. 45 (N1)</option>
              </select>
                        </div>
                        <div class="col-md-3 col-sm-6 mb-3">
                            <label class="position-absolute">Price</label>
                            <input mdbInput type="text" class="form-control " placeholder="$1299.00" />
                        </div>
                        <div class="col-md-3 col-sm-6 mb-3 d-flex">
                            <!-- Default input -->
                            <label class="position-absolute">Price With VAT</label>
                            <input mdbInput type="text" class="form-control" placeholder="$1349.00" />
                        </div>
                        <div class="col-md-3 col-sm-6"></div>
                        <div class="col-md-3 col-sm-6 mb-3">
                            <label class="position-absolute">Price Supplier</label>
                            <input mdbInput type="text" class="form-control " placeholder="$1249" />
                        </div>
                        <div class="col-md-3 col-sm-6 mb-3 d-flex">
                            <!-- Default input -->

                            <label class="position-absolute">Price Supplier With VAT</label>
                            <input mdbInput type="text" class="form-control " placeholder="$1229" />
                        </div>
                        <div class="col-md-6 col-sm-12"></div>
                        <div class="col-md-6 col-sm-12 mb-3">
                            <label class="position-absolute">Note</label>
                            <textarea name="Text1" class="w-100 h-100 p-2" rows="4"></textarea>
                        </div>
                        <div class="col-md-6 col-sm-12 mb-3">
                            <label class="position-absolute">HashTags</label>
                            <textarea name="Text1" class="w-100 p-2 h-100" rows="4" placeholder="#italy #BlackFriday #apple #Iphone"></textarea>
                        </div>
                    </div>
                    <!-- Grd row -->
                </form>
                <!--  form row -->
            </div>

            <!-- --------------------------- Table in Footer --------------------------- -->
        </section>
    </div>
</div>