<nav></nav>
<!--
    _________________________________________
    _________________________________________
    ______________________ -->
<div class="container">
    <div class="row pr-md-3 pr-sm-0 pl-md-3 pl-sm-0 mt-5">
        <div class="rounded col-md-3 mt-md-4 mt-sm-0">
            <side-nav></side-nav>
        </div>

        <section class="mt-4 col-md-9 col-sm-12 pr-md-3 pr-sm-1 Subscription rounded">
            <a href="#" class="go-back">
                <mdb-icon fas icon="chevron-left"></mdb-icon>
                All Customer
            </a>
            <h4>Order History</h4>
            <hr />

            <!-- ---------------------------- Not Paid Div ----------------------------- -->

            <div class="orders white p-3 rounded">
                <div>
                    18 Apr 2020
                    <a href="#!" class="btn-sm btn-danger rounded-pill font-weight-light">Not Paid</a>
                    <hr>
                    <table mdbTable>
                        <thead>
                            <tr>
                                <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr mdbTableCol *ngFor="let el of elements">
                                <th scope="row">{{el.name}}</th>
                                <td>{{el.type}}</td>
                                <td>{{el.expire}}</td>
                                <td>{{el.offer}}</td>
                                <td class="text-right">{{el.total}} €</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-3 float-right ">
                        <div>
                            <ul class=" list-unstyled ">
                                <li class="mb-3">Discount
                                    <span class="float-right d-inline-flex">108.75 €</span>
                                </li>
                                <li class="mb-3">Total Amount
                                    <span class="float-right d-inline-flex">108.75 €</span>
                                </li>
                                <li class="mb-3">Pay By:
                                    <div class="dropdown float-right z-depth-0  p-0 rounded" mdbDropdown>
                                        <button mdbDropdownToggle type="button" mdbBtn class="dropdown-toggle z-depth-0 border m-0 py-2 px-4 waves-light" mdbWavesEffect>
                      PayPal
                    </button>

                                        <div class="dropdown-menu z-depth-0 border p-1">
                                            <a class="dropdown-item" href="#">VISA</a>
                                            <a class="dropdown-item" href="#">Debit Card</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="btn btn-primary">Confirm The Payment</div>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
            <!-- ---------------------------- Not Paid Div ----------------------------- -->
            <!-- ----------------------------  Paid Div ----------------------------- -->

            <div class="orders white p-3 rounded mt-3">
                <div>
                    18 Apr 2020
                    <a href="#!" class="btn-sm btn-success rounded-pill font-weight-light"> Paid</a>
                    <hr>
                    <table mdbTable>
                        <thead>
                            <tr>
                                <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr mdbTableCol *ngFor="let el of elements">
                                <th scope="row">{{el.name}}</th>
                                <td>{{el.type}}</td>
                                <td>{{el.expire}}</td>
                                <td>{{el.offer}}</td>
                                <td class="text-right">{{el.total}} €</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-3 float-right ">
                        <div>
                            <ul class=" list-unstyled ">
                                <li class="mb-3">Discount
                                    <span class="float-right d-inline-flex">108.75 €</span>
                                </li>
                                <li class="mb-3">Total Amount
                                    <span class="float-right d-inline-flex">108.75 €</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
            <!-- ----------------------------  Paid Div ----------------------------- -->
            <!-- ---------------------------- Canceled Div ----------------------------- -->

            <div class="orders white p-3 rounded mt-3">
                <div>
                    18 Apr 2020
                    <a href="#!" class="btn-sm btn-warning rounded-pill font-weight-light">Canceled</a>
                    <hr>
                    <table mdbTable>
                        <thead>
                            <tr>
                                <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr mdbTableCol *ngFor="let el of elements">
                                <th scope="row">{{el.name}}</th>
                                <td>{{el.type}}</td>
                                <td>{{el.expire}}</td>
                                <td>{{el.offer}}</td>
                                <td class="text-right">{{el.total}} €</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-3 float-right ">
                        <div>
                            <ul class=" list-unstyled ">
                                <li class="mb-3">Discount
                                    <span class="float-right d-inline-flex">108.75 €</span>
                                </li>
                                <li class="mb-3">Total Amount
                                    <span class="float-right d-inline-flex">108.75 €</span>
                                </li>
                                <li class="mb-3">Pay By:
                                    <div class="dropdown float-right z-depth-0  p-0 rounded" mdbDropdown>
                                        <button mdbDropdownToggle type="button" mdbBtn class="dropdown-toggle z-depth-0 border m-0 py-2 px-4 waves-light" mdbWavesEffect>
                      PayPal
                    </button>

                                        <div class="dropdown-menu z-depth-0 border p-1">
                                            <a class="dropdown-item" href="#">VISA</a>
                                            <a class="dropdown-item" href="#">Debit Card</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>


                        </div>

                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
            <!-- ---------------------------- Canceled Div ----------------------------- -->
            <!-- ----------------------------- Pagination ------------------------------ -->
            <div class="mt-4 mb-4  float-right">
                <ul class="pagination pg-teal white">
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous" mdbWavesEffect>
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" mdbWavesEffect>1</a></li>
                    <li class="page-item"><a class="page-link" mdbWavesEffect>2</a></li>
                    <li class="page-item"><a class="page-link" mdbWavesEffect>3</a></li>
                    <li class="page-item"><a class="page-link" mdbWavesEffect>4</a></li>
                    <li class="page-item"><a class="page-link" mdbWavesEffect>5</a></li>
                    <li class="page-item"><a class="page-link" mdbWavesEffect>...</a></li>
                    <li class="page-item"><a class="page-link" mdbWavesEffect>21</a></li>
                    <li class="page-item"><a class="page-link" mdbWavesEffect>22</a></li>
                    <li class="page-item"><a class="page-link" mdbWavesEffect>23</a></li>
                    <li class="page-item">
                        <a class="page-link" aria-label="Next" mdbWavesEffect>
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- ----------------------------- Pagination ------------------------------ -->

        </section>
    </div>
</div>