<div class="timeline border mt-2 py-4">
    <div class="container ">
        <h6 class="mb-3 font-weight-bold">How are we doing?</h6>
        <hr class="grey">
        <div class="top-line">
            <small>Past</small>
            <small>15 Days Ago</small>
            <small class="text-center today">Today</small>
            <small class="text-right">UpComing</small>
            <small class="text-right">Future</small>
        </div>
        <hr class="tim">
        <div class="bottom-line row">
            <div class="right d-flex col-6 justify-content-around">
                <span class="iconv complete">
          <mdb-icon far icon="file"></mdb-icon>
        </span>
                <span class="iconv exp">
          <mdb-icon far icon="file"></mdb-icon>
        </span>
                <span class="iconv emptyIcon"></span>
            </div>
            <div class="left d-flex col-6 justify-content-around pl-5">
                <span class="iconv complete">
          <mdb-icon far icon="envelope"></mdb-icon>
        </span>
                <span class="iconv in-wait">
          <mdb-icon far icon="check-square"></mdb-icon>
        </span>
                <span class="iconv">
          <mdb-icon far icon="calendar"></mdb-icon>
        </span>
                <span class="iconv complete">
          <mdb-icon far icon="envelope"></mdb-icon>
        </span>
                <span class="iconv in-wait">
          <mdb-icon far icon="check-square"></mdb-icon>
        </span>
            </div>


        </div>
    </div>
</div>