<nav></nav>
<!--
    _________________________________________
    _________________________________________
    ______________________ -->
<div class="container">
    <div class="row pr-3 pl-3 mt-5">
        <div class="rounded col-md-3 mt-4">
            <side-nav></side-nav>
        </div>
        <div class="col-md-9 mt-4 landing-campaign white ">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="d-inline-block">Email Campaign</h4>
                <a routerLink="/create-campagin" class="rounded  btn btn-campaign">Create Campaign</a>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-2">
                    <ul class="py-2 list-unstyled">
                        <h6 class="pb-1">View by Status</h6>
                        <li> <a href="#"> All </a> </li>
                        <li> <a href="#"> Ongoing </a> </li>
                        <li> <a href="#"> Draft </a> </li>
                        <li> <a href="#"> Completed </a> </li>
                    </ul>
                    <ul class="py-2 list-unstyled">
                        <h6 class="pb-1">View by Type</h6>
                        <li> <a href="#"> Emails </a> </li>
                        <li> <a href="#"> Automation </a> </li>
                        <li> <a href="#"> Landing Pages </a> </li>
                        <li> <a href="#"> Ads </a> </li>
                        <li> <a href="#"> Post Cards </a> </li>
                        <li> <a href="#"> Social Posts </a> </li>
                        <li> <a href="#"> Survey </a> </li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <div class="top-part d-flex justify-content-between">
                        <form class="form-inline md-form m-0 w-50 form-sm active-pink-2">
                            <input class="form-control m-0 form-control-sm w-100 border rounded" type="text" placeholder="Search email campaign" aria-label="Search" mdbInput />
                            <mdb-icon fas icon="search" class="position-absolute" aria-hidden="true"></mdb-icon>
                        </form>

                        <div class="btn-group d-block rounded" mdbDropdown>
                            <button mdbDropdownToggle type="button" mdbBtn class="dropdown-toggle waves-light z-depth-0 border" mdbWavesEffect>
                Last Update
              </button>

                            <div class="dropdown-menu dropdown-primary">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="divider dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="category">
                        <div class="mb-4">
                            <mdb-card class="mb-3 z-depth-0 border rounded">
                                <mdb-card-body>
                                    <mdb-icon fas icon="pen" class=" position-absolute pen"></mdb-icon>
                                    <input type="checkbox" name="chek" class="mr-2" id="" />
                                    <a href="#">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    <small class="btn rounded-pill grey lighten-4 z-depth-0 border text-dark py-1 px-2">Draft</small>
                  </a>
                                    <div class="hash d-flex justify-content-between w-75">
                                        <span>#India(200)</span>
                                        <span>#Italy(200)</span>
                                        <span>#Designer(200)</span>
                                        <span>#Developer(200)</span>
                                        <span>#Good(100)</span>
                                        <span>#Pizza(60)</span>
                                    </div>
                                    <div class="info-card d-flex justify-content-between w-75">
                                        <span><small>Created on:</small> Sun, 26, Apr 12:20PM
                      <small>by</small> Freddone</span>
                                        <span><small>Eamil Sent:</small> 960 mails</span>
                                    </div>
                                </mdb-card-body>
                            </mdb-card>

                            <!-- ------------------------------- ./ Card ------------------------------- -->
                            <mdb-card class="mb-3 z-depth-0 border rounded">
                                <mdb-card-body>
                                    <mdb-icon fas icon="pen" class=" position-absolute pen"></mdb-icon>
                                    <input type="checkbox" name="chek" class="mr-2" id="" />
                                    <a href="#">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    <small class="btn rounded-pill grey lighten-4 z-depth-0 border text-dark py-1 px-2">Draft</small>
                  </a>
                                    <div class="hash d-flex justify-content-between w-75">
                                        <span>#India(200)</span>
                                        <span>#Italy(200)</span>
                                        <span>#Designer(200)</span>
                                        <span>#Developer(200)</span>
                                        <span>#Good(100)</span>
                                        <span>#Pizza(60)</span>
                                    </div>
                                    <div class="info-card d-flex justify-content-between w-75">
                                        <span><small>Created on:</small> Sun, 26, Apr 12:20PM
                      <small>by</small> Freddone</span>
                                        <span><small>Eamil Sent:</small> 960 mails</span>
                                    </div>
                                </mdb-card-body>
                            </mdb-card>

                            <!-- ------------------------------- ./ Card ------------------------------- -->
                            <mdb-card class="mb-3 z-depth-0 border rounded">
                                <mdb-card-body>
                                    <mdb-icon fas icon="pen" class=" position-absolute pen"></mdb-icon>
                                    <input type="checkbox" name="chek" class="mr-2" id="" />
                                    <a href="#">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    <small class="btn rounded-pill grey lighten-4 z-depth-0 border text-dark py-1 px-2">Draft</small>
                  </a>
                                    <div class="hash d-flex justify-content-between w-75">
                                        <span>#India(200)</span>
                                        <span>#Italy(200)</span>
                                        <span>#Designer(200)</span>
                                        <span>#Developer(200)</span>
                                        <span>#Good(100)</span>
                                        <span>#Pizza(60)</span>
                                    </div>
                                    <div class="info-card d-flex justify-content-between w-75">
                                        <span><small>Created on:</small> Sun, 26, Apr 12:20PM
                      <small>by</small> Freddone</span>
                                        <span><small>Eamil Sent:</small> 960 mails</span>
                                    </div>
                                </mdb-card-body>
                            </mdb-card>

                            <!-- ------------------------------- ./ Card ------------------------------- -->
                            <mdb-card class="mb-3 z-depth-0 border rounded">
                                <mdb-card-body>
                                    <mdb-icon fas icon="pen" class=" position-absolute pen"></mdb-icon>
                                    <input type="checkbox" name="chek" class="mr-2" id="" />
                                    <a href="#">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    <small class="btn rounded-pill grey lighten-4 z-depth-0 border text-dark py-1 px-2">Draft</small>
                  </a>
                                    <div class="hash d-flex justify-content-between w-75">
                                        <span>#India(200)</span>
                                        <span>#Italy(200)</span>
                                        <span>#Designer(200)</span>
                                        <span>#Developer(200)</span>
                                        <span>#Good(100)</span>
                                        <span>#Pizza(60)</span>
                                    </div>
                                    <div class="info-card d-flex justify-content-between w-75">
                                        <span><small>Created on:</small> Sun, 26, Apr 12:20PM
                      <small>by</small> Freddone</span>
                                        <span><small>Eamil Sent:</small> 960 mails</span>
                                    </div>
                                </mdb-card-body>
                            </mdb-card>

                            <!-- ------------------------------- ./ Card ------------------------------- -->
                            <mdb-card class="mb-3 z-depth-0 border rounded">
                                <mdb-card-body>
                                    <mdb-icon fas icon="pen" class=" position-absolute pen"></mdb-icon>
                                    <input type="checkbox" name="chek" class="mr-2" id="" />
                                    <a href="#">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    <small class="btn rounded-pill grey lighten-4 z-depth-0 border text-dark py-1 px-2">Draft</small>
                  </a>
                                    <div class="hash d-flex justify-content-between w-75">
                                        <span>#India(200)</span>
                                        <span>#Italy(200)</span>
                                        <span>#Designer(200)</span>
                                        <span>#Developer(200)</span>
                                        <span>#Good(100)</span>
                                        <span>#Pizza(60)</span>
                                    </div>
                                    <div class="info-card d-flex justify-content-between w-75">
                                        <span><small>Created on:</small> Sun, 26, Apr 12:20PM
                      <small>by</small> Freddone</span>
                                        <span><small>Eamil Sent:</small> 960 mails</span>
                                    </div>
                                </mdb-card-body>
                            </mdb-card>

                            <!-- ------------------------------- ./ Card ------------------------------- -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>