<nav></nav>
<!--
    _________________________________________
    _________________________________________
    ______________________ -->
<div class="container">
    <div class="row pr-md-3 pr-sm-0 pl-sm-0 pl-md-3 mt-5">
        <div class=" rounded col-md-3 mt-4 ">

            <side-nav></side-nav>
        </div>
        <div class="col-md-6 mt-4">
            <tasks></tasks>
        </div>
        <!-- ------------------------ ./Posts and News ------------------------- -->
        <!-- 
            ################################################
            #################################################
            #################################################
            #################################################
            #################################################
        -->
        <div class="col-md-3 mt-4">

            <right-side class="right-side "></right-side>
        </div>
    </div>
</div>