<div class="first-info border border-light rounded white w-100 p-3">
    <p>Recent Activities</p>
    <hr>
    <div class="media recent-activities">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" width="40px" class="img-fluid rounded-circle z-depth-0">
        <div class="media-body text-muted">
            <p class=" mb-0 ">Lorem ipsum dolor consenter</p> <small>Updated task</small>
        </div>
    </div>
    <hr>
    <div class="media recent-activities">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" width="40px" class="img-fluid rounded-circle z-depth-0">
        <div class="media-body text-muted">
            <p class=" mb-0 ">Lorem ipsum dolor consenter</p> <small>Updated task</small>
        </div>
    </div>
    <hr>
    <div class="media recent-activities">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" width="40px" class="img-fluid rounded-circle z-depth-0">
        <div class="media-body text-muted">
            <p class=" mb-0 "> Lorem ipsum dolor consenter</p> <small>Updated task</small>
        </div>
    </div>
    <hr>
    <div class="media recent-activities">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" width="40px" class="img-fluid rounded-circle z-depth-0">
        <div class="media-body text-muted">
            <p class=" mb-0 ">Lorem ipsum dolor consenter</p> <small>Updated task</small>
        </div>
    </div>

    <hr>

    <a href="# ">see more</a>
</div>
<line-chart></line-chart>